
@{
    ViewBag.Title = "Add New Product";
}

<table><tr><td height="10px"></td></tr></table>

<table cellpadding="4" cellspacing="4" width="90%" align="center" style="border:solid 2px red; padding-top:20px;">

    <tr>
        <td style="text-align:right;">Name</td>
        <td><input type="text" ng-model="Name" />  </td>
    </tr>

    <tr>
        <td style="text-align:right;">Color</td>
        <td>
            <select name="dropdown" ng-model="Color" data-ng-options="c.color as c.color for c in ColorTabs">
                <option value="" selected>Select</option>
            </select>
        </td>
    </tr>

    <tr>
        <td style="text-align:right;">Description Language</td>
        <td>
            <select multiple="multiple" ng-model="Unit">
                <option value="" selected>Select</option>
                <option ng-repeat="c in ColorTabs" value="{{c.id}}">
                    {{c.languages}}
                </option>
            </select>
            {{Unit}}
        </td>
    </tr>

    <tr>
        <td style="text-align:right;">Price</td>
        <td><input type="number" ng-model="Price" />  </td>
    </tr>

    <tr>
        <td style="text-align:right;">Expiry Date</td>
        <td><input type="date" ng-model="ExpiriyDate" />  </td>
    </tr>

    <tr>
        <td style="text-align:right;">UserGuide Languages</td>
        <td>
            <span ng-repeat="c in ColorTabs">
                <input type="checkbox" ng-model="c.Selected"/>
                {{c.languages}}
            </span>
        </td>
    </tr>

    <tr>
        <td></td>
        <td></td>
    </tr>

    @*<tr>
        <td style="text-align:right;">Image</td>
        <td>   <input type="file"></td>
    </tr>*@

    <tr>
        <td></td>
        <td>
            <input type="button" value="Save" data-ng-click="save()" />
        </td>
    </tr>
</table>