@{
    ViewBag.Title = "Edit Product";
}
<table><tr><td height="10px"></td></tr></table>

<table cellpadding="4" cellspacing="4" width="70%" align="center" style="border:solid 2px red; padding-top:20px;">
    <tr><td colspan="3" style=" text-align:center;">Edit Student Information</td></tr>
    <tr>

        <td style="text-align:right;">Name</td>
        <td><input type="text" ng-model="ProductTabs.name" />  </td>
    </tr>
    <tr>
        <td style="text-align:right;">Color</td>
        <td>
            <select name="dropdown" ng-model="ProductTabs.color" data-ng-options="c.color as c.color for c in ColorTabs">
                <option value="" selected>Select</option>
            </select>
        </td>
    </tr>
    <tr>
        <td style="text-align:right;">Unit</td>
        <td>
            <input type="radio" ng-model="ProductTabs.unit" name="P" value="Pieces" />Pieces
            <input type="radio" ng-model="ProductTabs.unit" name="W" value="Weight" />Weight
        </td>
    </tr>
    <tr>
        <td style="text-align:right;">Price</td>
        <td><input type="text" ng-model="ProductTabs.price" />  </td>
    </tr>
    <tr>
        <td style="text-align:right;">Expiry Date</td>
        <td><input type="text" ng-model="ProductTabs.expiriyDate" />  </td>
    </tr>
    <tr>
        <td style="text-align:right;">Languages</td>
        <td>
            <label ng-repeat="c in ColorTabs">
                <input type="checkbox" ng-model="c.Selected" />
                <label>{{c.languages}}</label>
            </label>
        </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <input type="button" value="Save" ng-click="save()" />
            <br />
            <div>{{error}}</div>
        </td>
    </tr>

</table>



